@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

:root {
  --clr-primary: blue;
  --clr-secondary: rgb(11, 0, 14);
  --clr-primary-light: #5249ff;
  --clr-white: #fff;
  --clr-white-2: #fff;
  --clr-grey-2: #c2c4c5;
  --clr-grey: rgba(150, 148, 148, 0.178);
  --clr-grey-3: rgb(15, 1, 19);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-magenta: magenta;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  height: fit-content;
  background-color: #f2faff;
}
.magenta {
  color: var(--clr-magenta);
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ==================
      dark mode
================== */
.dark_mode {
  position: fixed;
  color: white;
  top: 1rem;
  right: 2rem;
  background-color: var(--clr-primary);
  width: 3rem;
  height: 3rem;
  background-color: var(--clr-primary-light);
  padding: 13px;
  border-radius: 50px;
  transition: 0.6s;
  cursor: pointer;
}

.icon {
  color: black;
  transition: 0.5s;
  height: 60%;
  width: 60%;
}

.react_icon {
  width: 20px;
  height: 20px;
  color: white;
  margin: auto;
  transition: 0.5s;
}

/* 
=======================
       Header
======================= 
       */
header {
  width: 100%;
  height: fit-content;
  box-shadow: 0 2px 6px black;
  background-color: white;
  /* z-index: 10; */
}
.toppest{
  background-color: black;
  padding: .5rem;
  color: white;
}
.top,
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  
}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #ffffff !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
.search {
  width: 60%;
  border: 1px solid black;
  height: 40px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.search-icon {
  margin-left: 10px;
}
.search input {
  width: 80%;
  height: 100%;
  margin: auto;
  outline: none;
  border: none;
  font-size: 100%;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

ul > li {
  list-style: none;
}

.cart_contact {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.icon-container {
  width: 40px;
  height: 40px;
  background-color: rgb(223, 222, 222);
  border-radius: 50px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:900px) {
  .toppest{
    background-color: red;
    padding: .5rem;
    color: white;
  }
  .search{
    width: 90%;
    margin: auto;
  }
  .top h2, .cart_contact, .bottom{
    display: none;
  }

}
/* 
================
    CAROUSEL
================
*/
.carousel_container {
  width: 95%;
  height: 550px;
  /* border: 2px solid violet; */
  margin-bottom: 50px;
  margin: auto;
  border-radius: 20px;
}

.carousel-indicators > li{
  width: 20px;
  height: 20px;
  background-color: rgb(2, 41, 2);
  border-radius: 50px;
  color: black;
  border: 2px solid rgb(2, 41, 2);
}
.carousel-inner{
  width: 100%;
  height: 100%;
  padding: 0 2rem;

}
.carousel-content{
  width: 100%;
  height: 100%;
  display: flex;
  padding: 2rem;
  /* border: 2px solid green; */

}
.carousel-content .details{
  /* border: 2px solid green; */
  text-align: left;
  /* margin: auto 3rem; */
  /* padding-left: 4rem; */
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 70%;
}
.carousel-content .details .hero-btn{
  background-color: tomato;
  width: fit-content;
}

.title-hero{
  font-weight: 700;
  color: #222131;
}

.carousel-content .image{
  width: 40%;
/* border: 2px solid red; */

}

.carousel-control-prev, .carousel-control-next{
  background-color: rgb(2, 41, 2);
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin: auto;
  border-radius:50px;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
  background-color: rgb(2, 41, 2);
  width: 20px;
  height: 20px;
}
.carousel-content .image .carousel-image{
  width: 80%;
  height: auto;
}
.flash{
  width: 100%;
padding: 1rem 3rem;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.header button{
  background-color: transparent;
  border: none;
}
.header h3, .header p{
  display: flex;
  align-items: center;
}
.item-cards{
  /* display: flex; */
border: 2px solid red;
   /* justify-content: space-between; */
   /* gap: 1.5rem; */
   /* padding: 2px; */
/* overflow: auto; */
/* white-space: nowrap; */

}

.item_container{
  width: 290px;
  height: fit-content;
  /* padding: 10px; */
  position: relative;
  border-radius: 10px;
  box-shadow: 0 1px 3px black ;
  /* margin: auto; */
}

.item_container img{
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 3rem;

}
.item_container .description{
  text-align: left;
  margin-top: 4rem;
  line-height: 5px;
}

.item_container .discount, .item2_container .product-name{
  background-color: rgb(20, 172, 0);
  border-radius: 50px;
  position: absolute;
  top: 5%;
  left: 10px;
  padding: 5px 10px;
  color: white;
  font-size: 70%;
}
.item_container .add-to-cart{
  background-color: transparent;
  border: 1px solid rgb(20, 172, 0);
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 1px 5px;
  color: rgb(20, 172, 0);
  text-align: center;
  font-weight: 700;
}

.item-name{
  font-weight: 600;
  }
  
  .ratings{
    color: rgb(206, 24, 10);
  }
   .price{
    color: rgb(124, 5, 5);
  }

.item2_container{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 400px;
  height: 150px;
  border-radius: 10px;
  background-color: white;  
  padding: 1rem;
  box-shadow: 0 1px 3px black ;

}
.item2_container .image{
/* height: 100%; */
/* border-right: 1px solid black; */
}

.grey{
  background-color: rgb(196, 192, 192);
}

.image img{
  width: 100%;
}
.item2_container .no-of-order{
  background-color: rgb(58, 59, 58);
  border-radius: 50px;
  position: absolute;
  top: 5%;
  right: 10px;
  padding: 5px 10px;
  color: white;
  font-size: 70%;
}
/* 
=====================
short message section
=====================
*/
section{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  padding: 3rem;
}

.short-message{
  border-radius: 10px;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 1px 3px rgb(107, 107, 107) ;
  height: 300px;
transition: .6s;

}
.short-message:hover{
  box-shadow: 0 1px 6px black ;
cursor: pointer;
transition: .6s;
}
.sm-icon{
background-color: rgb(166, 168, 168);
margin: auto;
border-radius: 50px;
width: 30%;
height: 30%;
display: flex;
align-items: center;
justify-content: center;
}


/* 
================
    FOOTER
================    
*/

footer{
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  /* column-gap: 2rem; */
  background-color: rgb(1, 27, 1);
  height: fit-content;
  padding:6rem 2rem;
  padding-left:2rem;


}
@media (max-width:990px) {
  footer{
    grid-template-columns: 1.5fr 1fr;
    /* column-gap: 2rem; */
    row-gap: 2rem;
    padding-left:2rem;
  border: 2px solid red;
  }
}
.logo, .about-us, .customer-care, .contact-us{
  height: 200px;
  color: white;
  text-align: left;
  padding-left:2rem;

}

footer ul{
  display: block;
  /* text-align: left; */
  padding-left: 0;
}

.contact-icon{
  display: flex;
  justify-content: left;
  gap: 1rem;
}

.contact-icon .icon{
width: 35px;
height: 35px;
color: white;
cursor: pointer;
background-color: rgb(0, 0, 0);
padding: 7px;
border-radius: 50px;
}
/* .about-us{
  border: 2px solid red;

}
.customer-care{
  border: 2px solid red;

}

.contact-us{
  border: 2px solid red;

} */